/*Styles for Home Page*/



/*Styles for the about us page*/

.History{


  h1 {
    text-align: center;
    color: rgba(34, 110, 147, 1);
  }

  figure {
    text-align: center;
  }

 
}

/*Styles for the purchases page*/

.plan-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 8%;
  
  h2 {
    color: rgba(34, 110, 147, 1);
    padding-left: 30%;
  }
}
.disclaimer {
  font-size: x-small;
}
