/*Universal Styles*/

 nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111111;
}
/*Taken from W3schools*/




/*Styles for Home Page*/

video {
 margin: 0 auto;
 width: 100%;
}

 

/*Styles for the about us page*/



  .history h1 {
    text-align: center;
    color: rgba(34, 110, 147, 1);
  }

  .history figure {
    text-align: center;
  }

 


/*Styles for the purchases page*/

.plan-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding-left: 8%;
  
}

 .plan-grid h2 {
    color: rgba(34, 110, 147, 1);
    
  }

.plan-grid .plan {
    text-align: center;
}


.plan-grid a,
.plan-grid button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #0070d2;
  color: #0070d2;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.plan-grid a:hover,
.plan-grid button:hover {
  background-color: #f4f6f9;
}

.plan-grid figcaption {
  font-size: 75%;
}

.disclaimer {
  font-size: x-small;
  text-align: center;
}
